---
import MainLayout from "../layouts/MainLayout.astro";
import Games from "../components/Games";
import { fetchAPI } from "../data/wordpress";
import { Image } from "@astrojs/image/components";
import localImage from "../../public/main.png";

const data = await fetchAPI({
  query: `
	query LoadPostsExcerpt {
			posts(first: 2) {
				nodes {
					slug
					title
					excerpt
					featuredImage {
						node {
							mediaItemUrl
							sizes
							srcSet
							altText
						}
					}
					seo {
						title
						metaDesc
						canonical
					}
				}
			}
		}
	`,
});
---

<MainLayout title="Website title" description="Website Description">
  <main>
    <div class="container px-5">
      <div class="py-8">
        <h1 class="text-2xl md:text-4xl mb-5 font-bold">
          Cенің назарына, дәл pin up онлайн-казиносын тандау керек екендігінің
          ҮЗДІК-5 себебін ұсынамыз!
        </h1>

        <p class="max-w-[880px]">
          Pin up онлайн-казиносы неліктен сенің сеніміңе толықтай лайық екенің
          білмейсің бе?! Онда сенің назарына, дәл pin up онлайн-казиносын тандау
          керек екендігінің ҮЗДІК-5 себебін ұсынамыз!
        </p>
        <Games client:load />
        <article
          class="prose prose-invert prose-md md:prose-lg max-w-full mb-5"
        >
          <h2>
            1.Cенің назарына, дәл pin up онлайн-казиносын тандау керек
            екендігінің ҮЗДІК-5 себебін ұсынамыз!
          </h2>

          <p>
            Pin up-ты басқа букмекерлік кеңселерден ерекшелендіретін басты
            айырмашылық – ақаулықтарсыз жұмыс істеуінде. Ешқашан ешкімде біздің
            веб-парақшамызға кіре алмау, немесе сол секілді операцияларды
            орындауда қиындықтар туындамады, және болашақта туындамайды да
            дегіміз келеді. Бұған не себеп болғандығы туралы болжамдарыңыз бар
            ма? Жауабы мынада: басқа заңсыз онлайн-казинолардың сайттарынан
            қарағанда, pin up сайтын үкімет бұғаттамайды. Өйткені, pin up
            онлайн-казиносы мемлекеттің ережелеріне сәйкес, заңды түрде жұмыс
            жасайды!
          </p>

          <h2>2. Барлығы сен үшін</h2>

          <p>
            Біле білсең pin up онлайн-казиносын іске қосуда, көптеген мамандар
            аянбай еңбек етті. Солайша, pin up веб-сайтын құрастырған
            программистер, слоттардың дұрыс іске қосылуы үшін, мұқияттылық
            танытып, бар күштерін жұмсады. Соның арқасында, қазіргі уақытта
            бағдарламалық жасақтаманың үлкен таңдауы бар. Оның ішінде сен
            танымал әзірлеушілердің слоттарымен қатар, үстел ойындарын таба
            аласың. Сол секілді, дизайнерлер де керемет тырысып бақты. Олар
            дәстүрді үйлестіретін шығармашылық танытып, әдемі сайт жасады.
            Қарасаң беттің дизайны ашық қызыл түс схемасы арқылы интерфейстің
            негізгі бөліктеріне назар аудартады. Ал интерактивті элементтердің
            ыңғайлы орналасуына байланысты веб-сайттың функционалдылығын түсіну
            кез-келген адамға оңай тиеді. Және бұл соны емес – біз әлі де, үнемі
            өз қызметтерімізді жетілдіруге және жақсартуға тырысудамыз.
          </p>

          <h2>3. Кері байланыс</h2>

          <p>
            Онлайн казино pin up, әркезде де сенің жаңа ұсыныстарына ашық. Бізге
            басқаларына секілді сенің тілектеріне бәрібір емес. Себебі, біз өз
            пайдаланушыларымызды аса құрметтейміз. Сондықтан сенен шығатын кері
            байланысты қуанышпен қабылдаймыз: біздің операторлар әрдайым саған
            көмектесуге дайын. Көріп тұрғанындай біз үшін сенің ойын өте
            маңызды.
          </p>

          <h2>4. Сен үшін пайда, пайда және тағы да пайда!</h2>

          <p>
            Pin up онлайн-казиносы негізгі ұтыстан басқа, тағы да үстінен қоса
            көптеген бонустар мен туған күнге орай арнайы сыйлықтар сыйлайды!
            Айтшы, басқа қай жерде саған тегіннен тегін мұндай жағымды және
            пайдалы тосынсыйлар беріледі?! Тіптен, оған қоса егер сайтқа ұзақ
            кірмесең, pin up онлайн казиносы саған хабарламалар арқылы сілтеме
            жіберіп, сені шақыртуды ұмытпайды.
          </p>

          <h2>5. Ақша алудың сенімділігі мен қарапайымдылығы</h2>

          <div class="flex flex-col lg:flex-row items-center gap-3 mb-3">
            <p>
              Верификациялаудан өткеннен кейін, сен тапқан ұтысынды өзіне
              ыңғайлы болатындай: киви әмиян, телефон, карта немесе жобада қол
              жетімді басқа да жол арқылы ала аласың. Тіркеу рәсіміне келетін
              болсақ, бұнда да барлығы қолайлыққа негізделіп жасалған. Бар жоғы
              керегі: тұрақты ұялы телефон нөмірі және оған келіп түсетін
              растаушы хабарлама, электрондық пошта мекенжайы, жынысын, тегін,
              атын, мекенжайын, туған күнің туралы деректер. Соларды енгізу
              арқылы әп сәтте сайтқа тіркелуге болады. Ал платформаның
              мүмкіндіктеріне толық қол жеткізу үшін, КИВИ сервисінің
              онлайн-әмияның байланыстыру керек. Осылайша ойыншының жеке логині
              мен паролі жасалады. Бұл дегеніміз – сенімді жүйенің арқасында
              сенің ақшаң қорғалып, тура өзіне түседі.
            </p>

            <Image
              src={localImage}
              alt="main image"
              class="w-full"
              width={658}
              height={343}
            />
          </div>
          <p>
            Байқағанындай, біздің күшті жақтарымыз – жылдам қаражат тұжырымдары,
            көптеген бонустар, қайтарымның жақсы пайызы, жеткілікті провайдерлер
            мен сенімділік. Енді түсінген боларсың, біз – адал ойынға артықшылық
            береміз. Және біз үшін бұл бос сөз емес. Егер сәттілік сенің жағыңда
            болса, онда ақша да сенікі деп санаймыз! Бұған өз көзінді жеткіз!
            Қалайша – деп сұрайсын ба? Бұны іске асыру, тіптен оңай. Не бәрі pin
            up онлайн казиносында ойнауды баста! Әлі де ойланып отырсың ба? Құр
            босқа уақыт жібермей, өз бақытыңды шінеп көр – мүмкін дәл саған
            бүгін джекпот ұтып алу бұйырып тұрған шығар! Бағыңды сына – ойңа!
            Жеңіскер атаң!
          </p>
        </article>
      </div>
    </div>

    <h2 class="text-center text-4xl mb-6">Мақалалар</h2>
    <div class="bg-[#201A40] mb-14">
      <div class="container px-5">
        <div class="grid grid-cols-2 gap-5 py-10">
          {
            data.posts.nodes.map((post: any) => {
              return (
                <article class="post-preview ">
                  <div class="card bg-[#3538AD] rounded-2xl overflow-hidden">
                    {post.featuredImage ? (
                      <Image
                        src={post.featuredImage.node.mediaItemUrl}
                        alt={post.featuredImage.node.altText}
                        srcset={post.featuredImage.node.srcSet}
                        sizes={post.featuredImage.node.sizes}
                        class="w-full"
                        width={626}
                        height={271}
                        format="png"
                      />
                    ) : null}

                    <div class="card-body p-4">
                      <a class="text-2xl" href={`/blog/${post.slug}`}>
                        {post.title}
                      </a>
                    </div>
                  </div>
                </article>
              );
            })
          }
        </div>
      </div>
    </div>
  </main>
</MainLayout>
